<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>117280746490-dv860vl64k7m8qe3e2ud7npuq0itnrgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117280746490-dv860vl64k7m8qe3e2ud7npuq0itnrgo</string>
	<key>API_KEY</key>
	<string>AIzaSyAk5x-qaLaYYshjaQi7vMOt8oXeYsIe3DY</string>
	<key>GCM_SENDER_ID</key>
	<string>117280746490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AskItNow</string>
	<key>PROJECT_ID</key>
	<string>askitnow-e3249</string>
	<key>STORAGE_BUCKET</key>
	<string>askitnow-e3249.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117280746490:ios:707f9c92581e8258</string>
	<key>DATABASE_URL</key>
	<string>https://askitnow-e3249.firebaseio.com</string>
</dict>
</plist>