.btn-center{
    display: block;
    position: absolute;
    outline: none;
    opacity: 0;
    animation: 1s slide-up .5s forwards;
}


.btn-blue{
  color: #fff;
  background-color: #026880;
  font-size: 15px;
}

.background-img{
    background-image: url('../assets/imgs/ask_it.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}


.text-bottom{
  position: absolute;
  top: 68%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: 1s slide-up-text .5s forwards;
}


@keyframes slide-up {
  0%{
    top: 68%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: .5;
  }

  100%{
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes slide-up-text {
  0%{
    top: 73%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: .5;
  }

  100%{
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}


