<ion-header >

  <ion-navbar >
    <ion-title >Confirm Your Request</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <img src="assets/imgs/banner.jpg" height="60"  class="img-banner" alt="FDA_logo">
  <div class="container" padding>
    <div class="content">
      <h4 class="text-center text-blue">Estimated
        Current Wait Time:
        <br/>
        <p style="color: #1c1c1c;margin:10px; font-size: 18px">{{userDetails.wait_time | minutes}}</p>
      </h4>
      <ion-card>
        <ion-card-header class="card-msg">
          <ion-icon class="icon-right" name="create" color="main-1" (click)="onEdit()"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <p><span class="field-name" >First Name</span><span class="field-data">: {{userDetails.first_name}}</span></p>
          <p><span class="field-name" >Last Name</span><span class="field-data">: {{userDetails.last_name}}</span></p>
          <p><span class="field-name" >Email</span><span style="color: #222;font-size: 17px;">: {{userDetails.email}}</span></p>
          <p><span class="field-name" >Phone</span><span class="field-data">: {{userDetails.phone_number}}</span></p>
        </ion-card-content>
      </ion-card>
      <form #form="ngForm" (ngSubmit)="logForm(form)" novalidate>
        <ion-item no-lines>
          <ion-label floating color="main-1">Issue Category</ion-label>
          <ion-select [class.error-input]="c.touched && !c.valid"
                      required
                      #c="ngModel"
                      name="category_id"
                      [(ngModel)]="user.category_id"
          >
            <div *ngFor="let c of categories" text-nowrap>
              <ion-option  value="{{c.order}}">{{c.category}}</ion-option>
            </div>
          </ion-select>
        </ion-item>
        <span *ngIf="c.touched && c.errors">
          <span [hidden]="!c.errors.required">
            <p class="error-msg">Please select a category.</p>
          </span>
        </span>
        <ion-item text-wrap no-lines>
          <ion-label floating color="main-1">Comment</ion-label>
          <ion-textarea name="questions" [(ngModel)]="user.questions" ></ion-textarea>
        </ion-item>
        <button ion-button color="main-1" [disabled]="!form.valid" type="submit" class="btn-form-middle btn-lg">SUBMIT</button>
      </form>
    </div>
  </div>

</ion-content>
