.content-box{
  font-size: 20px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 8px;
}

.content-box p{
  margin: 5px;
}

.text-center{
  text-align: center;
}


.field-name{
  display: inline-block;
  width: 115px;
}

.btn-form-middle{
  text-align: center;
  display: block;
  margin: 10px auto;
}

.comment{
  height: 30px;
  margin-bottom: 15px;
}
